<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database Status</title>
</head>
<body>
    {% load custom_filters %}
    <table>
        <thead>
            <tr>
                {% for field in fields %}
                    <th>{{ field.name }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for rule in rules %}
                <tr>
                    {% for field in fields %}
                        <td>{{ rule|get_attr:field.name }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>