
<!-- <!DOCTYPE html>
<html>
  <head>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        // 웹소켓 연결을 설정합니다.
        var socket = new WebSocket("ws://127.0.0.1:8000/ws/snmp/");

        socket.onopen = function (event) {
          console.log("Connected to the WebSocket server.");

          // 5초마다 웹소켓으로 메시지를 보내는 함수를 실행합니다.
          setInterval(function () {
            sendMessage();
          }, 5000);
        };

        socket.onmessage = function (event) {
          console.log("Received message from server:", event.data);
        };

        socket.onclose = function (event) {
          console.log("Disconnected from the WebSocket server.");
        };

        // 메시지를 보내는 함수를 정의합니다.
        function sendMessage() {
          var message = "1.3.6.1.2.1.6.6.0";
          console.log("Sending message to server:", message);
          socket.send(message);
        }
      });
    </script>
  </head>
  <body>
    <h1>WebSocket Test</h1>
  </body>
</html> -->

<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
        margin: 0;
      }

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 120px;
        background-color: #f1f1f1;
        position: fixed;
        height: 100%;
        overflow: auto;
      }

      li a {
        display: block;
        color: #000;
        padding: 8px 16px;
        text-decoration: none;
      }

      li a.active {
        background-color: #555;
        color: white;
      }

      li a:hover:not(.active) {
        background-color: #555;
        color: white;
      }
      .container {
			display: flex;
			flex-wrap: wrap;
			width: 100%;
			/* height: 100%; */
			margin: 0 0 20px 0;
			padding: 0;
			box-sizing: border-box;
		}
		
		.box {
			flex-basis: 25%;
			height: 25vh;
			box-sizing: border-box;
			border: 1px solid black;
		}
    .box-1 {
			flex-grow: 1;
      flex-direction: row;
      display: flex;
		}
		
		.box-2 {
			flex-grow: 2;
      flex-direction: row;
      display: flex;
		}
    .box-3 {
			flex-grow: 1;
		}
    </style>
  </head>
  <body>
    <ul>
      <li><a class="active" href="../html/snmp.html">SNMP</a></li>
      <li><a href="/kante/rules">SNORT</a></li>
      <li><a href="../html/alert.html">ALERT</a></li>
    </ul>

    <div style="margin-left: 10%; padding: 1px 16px; height: 250px">
      <h1>SNMP</h1>
      <div class="container">
        <div class="box box-1">
          <canvas id="myChart"></canvas>
          <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
          <script>
            document.addEventListener("DOMContentLoaded", function (){
              // 웹소켓 연결을 설정합니다.
              var socket = new WebSocket("ws://127.0.0.1:8000/ws/snmp/");

              socket.onopen = function (event) {
                console.log("Connected to the WebSocket server.");

                sendIP();

                // 5초마다 웹소켓으로 메시지를 보내는 함수를 실행합니다.
                setInterval(function () {
                  sendMessage_TCP();
                }, 2000);
              };
            
              socket.onmessage = function (event) {
                console.log("Received message from server:", event.data);

                updateChartData(event.data);
              };
            
              socket.onclose = function (event) {
                console.log("Disconnected from the WebSocket server.");
              };


            
              // 메시지를 보내는 함수를 정의합니다.
              function sendIP() {
                var public_ip = "{{ public_ip }}";
                var private_ip = "{{ private_ip }}";
                var message = public_ip + ',' + private_ip;
                console.log("Sending message to server:", message);
                socket.send(message);
              }

              function sendMessage_TCP() {
                var message = "1.3.6.1.2.1.6.10.0,1.3.6.1.2.1.6.11.0";
                console.log("Sending message to server:", message);
                socket.send(message);
              }

              let prevData = null;

              function updateChartData(newData) {
                d = newData.split(',')
                if (prevData === null) {
                  prevData = d;
                  return;
                }

                if (myChart.data.labels.length >= 7) {
                    myChart.data.datasets[0].data.pop();
                    myChart.data.datasets[1].data.pop(); 
                }
                
                myChart.data.datasets[0].data.unshift(d[0]-prevData[0]);
                myChart.data.datasets[1].data.unshift(d[1]-prevData[1]); 

                prevData = d;

                console.log(newData);

                myChart.update();
              }

              const ctx = document.getElementById('myChart');
              const myChart = new Chart(ctx, {
                type: 'line',
                data: {
                  labels: ['Index 1','Index 2','Index 3','Index 4','Index 5','Index 6','Index 7'],
                  datasets: [
                    {
                      label: "tcpInSegs",
                      data: [0, 0, 0, 0, 0, 0, 0],
                      borderColor: "rgb(255, 99, 132)",
                      backgroundColor: "rgba(255, 99, 132, 0.2)",
                      borderWidth: 1
                    },
                    {
                      label: "tcpOutSegs",
                      data: [0, 0, 0, 0, 0, 0, 0],
                      borderColor: "rgb(54, 162, 235)",
                      backgroundColor: "rgba(54, 162, 235, 0.2)",
                      borderWidth: 1
                    }
                  ]
                },
                options: {
                  scales: {
                    yAxes: [{
                      ticks: {
                        max: null,
                        min: null,
                        stepSize: 10
                      }
                    }]
                  }
                }
              });
            });
          </script>
        </div>
        <div class="box box-1">
          <canvas id="myChart2"></canvas>
          <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
          <script>
            document.addEventListener("DOMContentLoaded", function (){
              // 웹소켓 연결을 설정합니다.
              var socket = new WebSocket("ws://127.0.0.1:8000/ws/snmp/");

              socket.onopen = function (event) {
                console.log("Connected to the WebSocket server.");

                // 5초마다 웹소켓으로 메시지를 보내는 함수를 실행합니다.
                setInterval(function () {
                  sendMessage_UDP();
                }, 2000);
              };
            
              socket.onmessage = function (event) {
                console.log("Received message from server:", event.data);

                updateChartUDPData(event.data);
              };
            
              socket.onclose = function (event) {
                console.log("Disconnected from the WebSocket server.");
              };
            function sendMessage_UDP() {
                var message = "1.3.6.1.2.1.7.1.0,1.3.6.1.2.1.7.4.0";
                console.log("Sending message to server:", message);
                socket.send(message);
              }

              let prevData2 = null;

              function updateChartUDPData(newData) {
                d = newData.split(',')
                if (prevData2 === null) {
                  prevData2 = d;
                  return;
                }
                if (myChart2.data.labels.length >= 7) {
                    myChart2.data.datasets[0].data.pop();
                    myChart2.data.datasets[1].data.pop(); 
                }
                
                myChart2.data.datasets[0].data.unshift(d[0]-prevData2[0]);
                myChart2.data.datasets[1].data.unshift(d[1]-prevData2[1]); 

                prevData2 = d;

                console.log(newData);

                myChart2.update();
              }

              const ctx2 = document.getElementById('myChart2');
              const myChart2 = new Chart(ctx2, {
                type: 'line',
                data: {
                  labels: ['Index 1','Index 2','Index 3','Index 4','Index 5','Index 6','Index 7'],
                  datasets: [
                    {
                      label: "udpInSegs",
                      data: [0, 0, 0, 0, 0, 0, 0],
                      borderColor: "rgb(255, 99, 132)",
                      backgroundColor: "rgba(255, 99, 132, 0.2)",
                      borderWidth: 1
                    },
                    {
                      label: "udpOutSegs",
                      data: [0, 0, 0, 0, 0, 0, 0],
                      borderColor: "rgb(54, 162, 235)",
                      backgroundColor: "rgba(54, 162, 235, 0.2)",
                      borderWidth: 1
                    }
                  ]
                },
                options: {
                  scales: {
                    yAxes: [{
                      ticks: {
                        min: null,
                        max: null,
                        stepSize: 10
                      }
                    }]
                  }
                }
              });
            });
          </script>
        </div>
        <div class="box box-1">
          <canvas id="myChart3"></canvas>
          <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
          <script>
            document.addEventListener("DOMContentLoaded", function (){
              // 웹소켓 연결을 설정합니다.
              var socket = new WebSocket("ws://127.0.0.1:8000/ws/snmp/");

              socket.onopen = function (event) {
                console.log("Connected to the WebSocket server.");

                // 5초마다 웹소켓으로 메시지를 보내는 함수를 실행합니다.
                setInterval(function () {
                  sendMessage_ICMP();
                }, 2000);
              };
            
              socket.onmessage = function (event) {
                console.log("Received message from server:", event.data);

                updateChartICMPData(event.data);
              };
            
              socket.onclose = function (event) {
                console.log("Disconnected from the WebSocket server.");
              };
            function sendMessage_ICMP() {
                var message = "1.3.6.1.2.1.5.1.0,1.3.6.1.2.1.5.14.0";
                console.log("Sending message to server:", message);
                socket.send(message);
              }

              let prevData3 = null;

              function updateChartICMPData(newData) {
                d = newData.split(',')
                if (prevData3 === null) {
                  prevData3 = d;
                  return;
                }

                if (myChart3.data.labels.length >= 7) {
                    myChart3.data.datasets[0].data.pop();
                    myChart3.data.datasets[1].data.pop(); 
                }
                
                myChart3.data.datasets[0].data.unshift(d[0]-prevData3[0]);
                myChart3.data.datasets[1].data.unshift(d[1]-prevData3[1]); 

                prevData3 = d;

                console.log(newData);

                myChart3.update();
              }
              const ctx3 = document.getElementById('myChart3');
              const myChart3 = new Chart(ctx3, {
                type: 'line',
                data: {
                  labels: ['Index 1','Index 2','Index 3','Index 4','Index 5','Index 6','Index 7'],
                  datasets: [
                    {
                      label: "icmpInSegs",
                      data: [0, 0, 0, 0, 0, 0, 0],
                      borderColor: "rgb(255, 99, 132)",
                      backgroundColor: "rgba(255, 99, 132, 0.2)",
                      borderWidth: 1
                    },
                    {
                      label: "icmpOutSegs",
                      data: [0, 0, 0, 0, 0, 0, 0],
                      borderColor: "rgb(54, 162, 235)",
                      backgroundColor: "rgba(54, 162, 235, 0.2)",
                      borderWidth: 1
                    }
                  ]
                },
                options: {
                  scales: {
                    yAxes: [{
                      ticks: {
                        min: null,
                        max: null,
                        stepSize: 10
                      }
                    }]
                  }
                }
              });
            });
          </script>
        </div>
      </div>
      <div class="container">
        <div class="box box-2">
          <canvas id="myChart4"></canvas>
          <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
          <script>
            document.addEventListener("DOMContentLoaded", function (){
              // 웹소켓 연결을 설정합니다.
              var socket = new WebSocket("ws://127.0.0.1:8000/ws/snmp/");

              socket.onopen = function (event) {
                console.log("Connected to the WebSocket server.");

                // 5초마다 웹소켓으로 메시지를 보내는 함수를 실행합니다.
                setInterval(function () {
                  sendMessage_Network();
                }, 2000);
              };
            
              socket.onmessage = function (event) {
                console.log("Received message from server:", event.data);

                updateChartNetworkData(event.data);
              };
            
              socket.onclose = function (event) {
                console.log("Disconnected from the WebSocket server.");
              };
            
              // 메시지를 보내는 함수를 정의합니다.
              function sendMessage_Network() {
                var message = "1.3.6.1.2.1.2.2.1.5.11,1.3.6.1.2.1.2.2.1.16.11";
                console.log("Sending message to server:", message);
                socket.send(message);
              }

              function updateChartNetworkData(newData) {
                d = newData.split(',')

                var BandwidthP = parseInt(d[1]) / (parseInt(d[0]) + parseInt(d[1])) * 100;
                var messagesDiv = document.getElementById("BandwidthP");
                messagesDiv.innerHTML = "<p>" + BandwidthP.toFixed(2)+ "%" + "</p>";

                myChart4.data.datasets[0].data[0] = d[0];
                myChart4.data.datasets[0].data[1] = d[1];
                console.log(newData);
                
                myChart4.update(); // Update the chart with the new data
              }
              const ctx4 = document.getElementById('myChart4');
              const myChart4 = new Chart(ctx4, {
                  type: 'pie',
                  data: {
                    labels: ['FullBandwidth','BandwidthUsed'],
                    datasets: [{
                      label: "Bandwidth",
                      backgroundColor: ["#3e95cd", "#8e5ea2"],
                      data: [0,0]
                    }]
                  },
                  options: {
                    title: {
                      display: true,
                      text: 'FullBandwidth vs BandwidthUsed'
                    }
                  }
              });
            });
          </script>
            <div>
              <span id="Bandwidth">Bandwidth rate</br></span>
              <span id="BandwidthP"></span>
            </div>
          </div>
        <div class="box box-2">
          <canvas id="myChart5"></canvas>
          <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
          <script>
            document.addEventListener("DOMContentLoaded", function (){
              // 웹소켓 연결을 설정합니다.
              var socket = new WebSocket("ws://127.0.0.1:8000/ws/snmp/");

              socket.onopen = function (event) {
                console.log("Connected to the WebSocket server.");

                // 5초마다 웹소켓으로 메시지를 보내는 함수를 실행합니다.
                setInterval(function () {
                  sendMessage_Err();
                }, 2000);
              };
            
              socket.onmessage = function (event) {
                console.log("Received message from server:", event.data);

                updateChartErrData(event.data);
              };
            
              socket.onclose = function (event) {
                console.log("Disconnected from the WebSocket server.");
              };
            
              // 메시지를 보내는 함수를 정의합니다.
              function sendMessage_Err() {
                var message = "1.3.6.1.2.1.5.1.0,1.3.6.1.2.1.5.2.0,1.3.6.1.2.1.6.10.0,1.3.6.1.2.1.6.14.0";
                console.log("Sending message to server:", message);
                socket.send(message);
              }

              function updateChartErrData(newData) {
                d = newData.split(',')

                InSegs = d[0] + d[2];
                ErrSegs = d[1] + d[3];

                var TotalErrP = parseInt(ErrSegs) / (parseInt(InSegs) + parseInt(ErrSegs)) * 100;
                var messagesDiv = document.getElementById("TotalErrP");
                messagesDiv.innerHTML = "<p>" + TotalErrP.toFixed(2)+ "%" + "</p>";

                myChart5.data.datasets[0].data[0] = InSegs;
                myChart5.data.datasets[0].data[1] = ErrSegs;
                console.log(newData);
                
                myChart5.update(); // Update the chart with the new data
              }
              const ctx5 = document.getElementById('myChart5');
              const myChart5 = new Chart(ctx5, {
                  type: 'pie',
                  data: {
                    labels: ['InSegs','InSegsErr'],
                    datasets: [{
                      label: "Error rate",
                      backgroundColor: ["#3e95cd", "#8e5ea2"],
                      data: [0,0]
                    }]
                  },
                  options: {
                    title: {
                      display: true,
                      text: 'InSegs vs InSegsErr'
                    }
                  }
              });
            });
          </script>
          <div>
            <span id="TotalErr">TotalError rate</br></span>
            <span id="TotalErrP"></span>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="box box-1">
          <canvas id="myChart6"></canvas>
          <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
          <script>
            document.addEventListener("DOMContentLoaded", function (){
              // 웹소켓 연결을 설정합니다.
              var socket = new WebSocket("ws://127.0.0.1:8000/ws/snmp/");

              socket.onopen = function (event) {
                console.log("Connected to the WebSocket server.");

                // 5초마다 웹소켓으로 메시지를 보내는 함수를 실행합니다.
                setInterval(function () {
                  sendMessage_TCPErr();
                }, 2000);
              };
              
              socket.onmessage = function (event) {
                console.log("Received message from server:", event.data);

                updateChartTCPErrData(event.data);
              };
            
              socket.onclose = function (event) {
                console.log("Disconnected from the WebSocket server.");
              };
            
              // 메시지를 보내는 함수를 정의합니다.
              function sendMessage_TCPErr() {
                var message = "1.3.6.1.2.1.6.10.0,1.3.6.1.2.1.6.14.0";
                console.log("Sending message to server:", message);
                socket.send(message);
              }

              function updateChartTCPErrData(newData) {
                d = newData.split(',')
                
                TCPErrP = parseInt(d[1]) / (parseInt(d[0]) + parseInt(d[1])) * 100;
                var messagesDiv = document.getElementById("TCPErrP");
                messagesDiv.innerHTML = "<p>" + TCPErrP.toFixed(2) + "%" + "</p>";

                myChart6.data.datasets[0].data[0] = d[0];
                myChart6.data.datasets[0].data[1] = d[1];
                console.log(newData);

                
                myChart6.update(); // Update the chart with the new data
              }
              const ctx6 = document.getElementById('myChart6');
              const myChart6 = new Chart(ctx6, {
                  type: 'pie',
                  data: {
                    labels: ['tcpInSegs','tcpInSegsErr'],
                    datasets: [{
                      label: "Error rate",
                      backgroundColor: ["#3e95cd", "#8e5ea2"],
                      data: [0,0]
                    }]
                  },
                  options: {
                    title: {
                      display: true,
                      text: 'tcpInSegs vs tcpInSegsErr'
                    }
                  }
              });
            });
          </script>
          <div>
            <span id="TCPErr">TCP Error rate</br></span>
            <span id="TCPErrP"></span>
          </div>
        </div>
        <div class="box box-3">
          <script>
            document.addEventListener("DOMContentLoaded", function (){
              // 웹소켓 연결을 설정합니다.
              var socket = new WebSocket("ws://127.0.0.1:8000/ws/snmp/");

              socket.onopen = function (event) {
                console.log("Connected to the WebSocket server.");

                // 5초마다 웹소켓으로 메시지를 보내는 함수를 실행합니다.
                setTimeout(function () {
                  sendMessage_MyPC();
                },2000);
              };
              
              socket.onmessage = function (event) {
                PCInform = event.data.split(',');
                console.log("Received message from server:", PCInform[0]);
                console.log("Received message from server:", PCInform[1]);

                var messagesDiv = document.getElementById("MyPC");
                messagesDiv.innerHTML += "<p>" + PCInform[0] + "</p>";
                var messagesDiv2 = document.getElementById("MyAddress");
                messagesDiv2.innerHTML += "<p>" + PCInform[1] + "</p>";
              };
            
              socket.onclose = function (event) {
                console.log("Disconnected from the WebSocket server.");
              };
            
              // 메시지를 보내는 함수를 정의합니다.
              function sendMessage_MyPC() {
                var message = "1.3.6.1.2.1.1.5.0,1.3.6.1.2.1.1.6.0";
                console.log("Sending message to server:", message);
                socket.send(message);
              }
            });
          </script>
          <div id="MyPC">My PC : </div>
          <div id="MyAddress">My Address : </div>
        </div>
        <div class="box box-1">
          <canvas id="myChart8"></canvas>
          <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
          <script>
            document.addEventListener("DOMContentLoaded", function (){
              // 웹소켓 연결을 설정합니다.
              var socket = new WebSocket("ws://127.0.0.1:8000/ws/snmp/");

              socket.onopen = function (event) {
                console.log("Connected to the WebSocket server.");

                // 5초마다 웹소켓으로 메시지를 보내는 함수를 실행합니다.
                setInterval(function () {
                  sendMessage_ICMPErr();
                }, 2000);
              };
            
              socket.onmessage = function (event) {
                console.log("Received message from server:", event.data);

                updateChartICMPErrData(event.data);
              };
            
              socket.onclose = function (event) {
                console.log("Disconnected from the WebSocket server.");
              };
            
              // 메시지를 보내는 함수를 정의합니다.
              function sendMessage_ICMPErr() {
                var message = "1.3.6.1.2.1.5.1.0,1.3.6.1.2.1.5.2.0";
                console.log("Sending message to server:", message);
                socket.send(message);
              }

              function updateChartICMPErrData(newData) {
                d = newData.split(',')

                ICMPErrP = parseInt(d[1]) / (parseInt(d[0]) + parseInt(d[1])) * 100;
                var messagesDiv = document.getElementById("ICMPErrP");
                messagesDiv.innerHTML = "<p>" + ICMPErrP.toFixed(2) + "%" + "</p>";

                myChart8.data.datasets[0].data[0] = d[0];
                myChart8.data.datasets[0].data[1] = d[1];
                console.log(newData);
                
                myChart8.update(); // Update the chart with the new data
              }
              const ctx8 = document.getElementById('myChart8');
              const myChart8 = new Chart(ctx8, {
                  type: 'pie',
                  data: {
                    labels: ['icmpInSegs','icmpInSegsErr'],
                    datasets: [{
                      label: "Error rate",
                      backgroundColor: ["#3e95cd", "#8e5ea2"],
                      data: [0,0]
                    }]
                  },
                  options: {
                    title: {
                      display: true,
                      text: 'ICMPInSegs vs ICMPInSegsErr'
                    }
                  }
              });
            });
          </script>
          <div>
            <span>ICMP Error rate</span>
            <span id="ICMPErrP"></span>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>